name: Automate Data Preprocessing

on:
  push:
    branches:
      - main
      - master
    paths:
      - 'water_potability_raw/**'
      - 'preprocessing/**'

permissions:
  contents: write

jobs:
  build-and-process:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Preprocessing Script
        run: python preprocessing/automate_Amnan.py

      - name: Commit and Push Processed Data
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"

          git add water_potability_preprocessing/data/*.csv
          git commit -m "Auto-update: Processed data from GitHub Actions" || echo "No changes to commit"
          git push
